<div class="flex items-center justify-center flex-col">
<p class="font-extrabold text-2xl">What is Centinela?</p>
<p class="">Centinela is a tool specifically designed to provide detailed academic information about Ecuadorian researchers and offers users three types of searches to access this information. Its main objective is to streamline and simplify the understanding of findings and results from relevant scientific research, allowing researchers to explore the relationships and occurrences of keywords used in these studies. </p>
<p>One of the key features of Centinela is its ability to assist researchers in finding experts in specific fields and learning about their areas of research. This is invaluable for establishing collaborations and finding specialized resources for academic projects.</p>
<p> To ensure the accuracy and relevance of the results presented, Centinela uses TF-IDF (Term Frequency-Inverse Document Frequency) models that have been trained with data obtained from Scopus, a widely recognized and trusted bibliographic database in the academic field. This ensures the quality and reliability of the information provided by ResNet.</p>
</div>


