<nav class="bg-primary_tailwind bg-custom">
  <div class="container mx-auto max-w-screen-xl">
    <div class="flex items-center justify-between p-2">
      <a href="/home" class="flex items-center space-x-3 rtl:space-x-reverse">
        <img src="/assets/logo.svg" class="h-12 md:h-16 bg-slate-100 rounded-full" alt="Flowbite Logo" />
        <span class="text-2xl md:text-5xl font-light text-white">Centinela</span>
      </a>
      <button (click)="toggleNav()" class="md:hidden text-white">
        <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
        </svg>
      </button>
    </div>
  </div>
</nav>
<nav [ngClass]="{'hidden': !navOpen, 'block': navOpen, 'md:flex': true}" class="py-2">
  <div class="container mx-auto max-w-screen-xl px-3">
    <ul class="flex flex-col md:flex-row md:mt-0 md:border-0 md:p-0 rtl:space-x-reverse">
      <li class="mb-2 md:mb-0 md:mr-2">
        <a routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
          class="inline-flex items-center justify-center p-2 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 text-base">
          <div class="w-4 h-4 mr-2">
            <img src="assets/svg-header/home.svg" alt="Home icon"
              class="w-4 h-4 text-white-400 group-hover:text-white-500 dark:text-white-500 dark:group-hover:text-white-300">
          </div>
          Home
        </a>
      </li>
<!--      <li class="mb-2 md:mb-0 md:mr-2" *ngIf="showInformation">-->
<!--        <a routerLink="./author-list" routerLinkActive="active"-->
<!--          class="inline-flex items-center justify-center p-2 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 text-base">-->
<!--          <div class="w-4 h-4 mr-2">-->
<!--            <img src="assets/svg-header/authors.svg" alt="Authors icon"-->
<!--              class="w-4 h-4 text-white-400 group-hover:text-white-500 dark:text-white-500 dark:group-hover:text-white-300">-->
<!--          </div>-->
<!--          Authors-->
<!--        </a>-->
<!--      </li>-->
      <li class="mb-2 md:mb-0 md:mr-2" *ngIf="showInformation">
        <a routerLink="./analitica" routerLinkActive="active"
          class="inline-flex items-center justify-center p-2 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 text-base">
          <div class="w-4 h-4 mr-2">
            <img src="assets/svg-header/analytics.svg" alt="Analytics icon"
              class="w-4 h-4 text-white-400 group-hover:text-white-500 dark:text-white-500 dark:group-hover:text-white-300">
          </div>
          Analytics
        </a>
      </li>
      <div class="flex flex-col md:flex-row md:ml-auto">
        <li class="mb-2 md:mb-0 flex justify-start md:justify-center items-center md:mr-2 cursor-pointer" *ngIf="!showLogin">
          <a class="inline-flex items-center justify-center p-2 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 text-base"
            (click)="profile()">
            <div class="w-4 h-4 mr-2">
              <img src="assets/svg-header/user.svg" alt="User icon"
                class="w-4 h-4 text-white-400 group-hover:text-white-500 dark:text-white-500 dark:group-hover:text-white-300">
            </div>
            Profile
          </a>
        </li>
        <li class="mb-2 md:mb-0 flex justify-start items-start md:items-center md:mr-2" *ngIf="!showLogin">
          <button
            class="inline-flex items-center justify-center p-2 border-b-2 border-transparent rounded-lg text-base transition-colors duration-200 ease-in-out bg-primary_tailwind text-white hover:bg-red-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500"
            (click)="logout()">
            Logout
          </button>
        </li>
        <li class="mb-2 md:mb-0 flex justify-start items-start md:items-center md:mr-2" *ngIf="showLogin">
          <button
            class="inline-flex items-center justify-center p-2 border-b-2 border-transparent rounded-lg text-base transition-colors duration-200 ease-in-out bg-primary_tailwind text-white hover:bg-red-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500"
            routerLink="/login">
            Login
          </button>
        </li>
      </div>
    </ul>
  </div>
</nav>
