.bg-custom {
    background-image: url("src/assets/background.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
}

.active {
  padding-left: 12px;
  padding-right: 12px;
  border-bottom-width: 3px;
  border-bottom-color: theme('colors.primary_tailwind');
  border-bottom-style: solid;

  :is(svg) {
      fill: theme('colors.primary_tailwind');
  }
}
