
<div class="container mx-auto mb-2 rounded-xl border p-4 shadow-md bg-white">
    <div class="flex justify-between items-center mb-4">
        <div class="text-xl font-bold">Your group recomendation</div>
        <div class="text-lg font-bold">Active Connections: {{ activeConnections }}</div>
        <button id="btn-next" 
          class="transition duration-300 bg-primary_tailwind font-bold text-white hover:bg-gray-100 hover:text-gray-300 focus:ring-2 focus:outline-none focus:ring-primary_tailwind rounded-full text-sm px-2 py-1.5 ml-1 text-center inline-flex items-center" 
          (click)="completeConsensusPhaseOne()">
          <svg fill="#ffffff" width="16" height="16" viewBox="0 0 15 15" xmlns="http://www.w3.org/2000/svg" id="arrow">
            <path d="M8.29289 2.29289C8.68342 1.90237 9.31658 1.90237 9.70711 2.29289L14.2071 6.79289C14.5976 7.18342 14.5976 7.81658 14.2071 8.20711L9.70711 12.7071C9.31658 13.0976 8.68342 13.0976 8.29289 12.7071C7.90237 12.3166 7.90237 11.6834 8.29289 11.2929L11 8.5H1.5C0.947715 8.5 0.5 8.05228 0.5 7.5C0.5 6.94772 0.947715 6.5 1.5 6.5H11L8.29289 3.70711C7.90237 3.31658 7.90237 2.68342 8.29289 2.29289Z"/>
          </svg>
        </button>
    </div>
    <div class="container text-sm text-gray-900">
        <p class="mb-3">Explore the suggested topics list and acquaint yourself with the available choices</p>

    <!-- POPOVER y LIST TOPICS -->
        <div class="flex justify-start items-center space-x-4 mb-0">
            <!-- Popover combinenSerach -->
            <div class="flex justify-center items-center mb-2.5">
                <button id="btn-combined-search" data-popover-target="popover-top" type="button" class="mb-2.5 text-primary_tailwind border border-primary_tailwind hover:bg-primary_tailwind hover:text-white focus:ring-2 focus:outline-none focus:ring-primary_tailwind font-medium rounded-full text-sm p-2 ml-1 text-center inline-flex items-center" (click)="checkAndCombinedSearch()" [ngClass]="{'active-ring':  enableCombinedSearch}">
                    <ng-container *ngIf="!enableCombinedSearch; else okTemplate">
                        <svg fill="currentColor" width="20px" height="20px" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" class="fill-current">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14.573 2.729c-0.729 0.484-4.292 2.849-7.917 5.255s-6.589 4.396-6.589 4.422c0 0.026 0.182 0.146 0.406 0.266 0.224 0.13 3.797 2.109 7.953 4.411l7.542 4.193 0.193-0.099c0.109-0.052 2.891-1.641 6.188-3.521l5.99-3.427 0.036 10.599h3.557v-12.401l-4.615-3.094c-6.219-4.167-11.188-7.448-11.307-7.474-0.063-0.010-0.703 0.38-1.438 0.87zM7.141 22.177l0.016 2.672 8.828 5.292 8.891-5.339v-2.641c0-1.458-0.016-2.646-0.031-2.646-0.021 0-1.76 1.042-3.87 2.323l-4.406 2.661-0.578 0.339-1.755-1.052c-1.464-0.875-2.927-1.755-4.385-2.641l-2.672-1.615c-0.031-0.010-0.042 1.177-0.036 2.646z"/>
                        </svg>
                    </ng-container>
                    <ng-template #okTemplate>
                        <span class="font-bold">OK</span>
                    </ng-template>
                </button>
            </div>
            <div data-popover id="popover-top" role="tooltip" class="absolute z-10 invisible inline-block w-64 text-sm text-gray-500 transition-opacity duration-300 bg-white border border-gray-200 rounded-lg shadow-sm opacity-0 dark:text-gray-400 dark:border-gray-600 dark:bg-gray-800">
                <div class="px-2.5 py-2 bg-gray-200 border-b border-gray-300 rounded-t-lg dark:border-gray-600 dark:bg-gray-700">
                    <h3 class="font-semibold text-gray-900 dark:text-white m-0 text-center">Combined Search</h3>
                </div>
                <div class="px-3 py-2 m-0">
                    <p>Select two or more topics to search in Google Scholar</p>
                    <div class="flex items-center mt-2">
                        <input id="enable-combined-search" type="checkbox"  [(ngModel)]="enableCombinedSearch" class="mr-2 w-4 h-4 text-primary_tailwind bg-gray-300 rounded border-gray-300 focus:ring-primary_tailwind dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                        <label for="enable-combined-search">Enable combined search </label>
                    </div>
                </div>
                <div data-popper-arrow></div>
            </div>
            <!-- Popover expertise -->
            <div class="flex justify-center items-center mb-2.5">
                <button id="btn-expertice" data-popover-target="popover-top2" type="button" class="mb-2.5 text-primary_tailwind border border-primary_tailwind hover:bg-primary_tailwind hover:text-white focus:ring-2 focus:outline-none focus:ring-primary_tailwind font-medium rounded-full text-sm p-2 ml-1 text-center inline-flex items-center" (click)="toggleExpertise()" [ngClass]="{'active-ring': showSliders}"  >
                        <svg width="22px" height="22px" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg" class="svg-icon">
                            <rect width="48" height="48" fill="white" fill-opacity="0.01"/>
                            <path class="svg-path" d="M19.036 44.0001C18.0561 40.8045 16.5778 38.4222 14.6011 36.8532C11.636 34.4997 6.92483 35.9624 5.18458 33.5349C3.44433 31.1073 6.40382 26.6431 7.44234 24.009C8.48086 21.375 3.46179 20.4436 4.04776 19.6958C4.43842 19.1973 6.97471 17.7587 11.6567 15.3801C12.987 7.79346 17.9008 4.00014 26.3982 4.00014C39.1441 4.00014 44 14.8061 44 21.679C44 28.552 38.1201 35.9563 29.7441 37.5528C28.9951 38.6436 30.0754 40.7927 32.9848 44.0001" stroke="#1E3C8B" stroke-width="4.66685" stroke-linecap="round" stroke-linejoin="round"/>
                            <path class="svg-path" fill-rule="evenodd" clip-rule="evenodd" d="M19.4997 14.5C18.8464 17.0342 19.0408 18.8138 20.0829 19.8385C21.125 20.8633 22.9011 21.5334 25.4112 21.8489C24.8417 25.1176 25.5361 26.6511 27.4942 26.4493C29.4524 26.2475 30.6289 25.4338 31.0239 24.0083C34.0842 24.8684 35.7428 24.1486 35.9997 21.8489C36.3852 18.3993 34.525 15.6475 33.7624 15.6475C32.9997 15.6475 31.0239 15.5547 31.0239 14.5C31.0239 13.4452 28.7159 12.8493 26.6329 12.8493C24.5499 12.8493 25.8035 11.4452 22.9432 12C21.0363 12.3698 19.8885 13.2031 19.4997 14.5Z" fill="#2F88FF" stroke="#1E3C8B" stroke-width="4" stroke-linejoin="round"/>
                            <path class="svg-path" d="M30.5002 25.5001C29.4833 26.1311 28.0878 27.1804 27.5002 28.0001C26.0313 30.0496 24.8398 31.2975 24.5791 32.6082" stroke="#1E3C8B" stroke-width="4" stroke-linecap="round"/>
                        </svg>
                </button>
            </div> 
            <div data-popover id="popover-top2" role="tooltip" class="absolute z-10 invisible inline-block w-64 text-sm text-gray-500 transition-opacity duration-300 bg-white border border-gray-200 rounded-lg shadow-sm opacity-0 dark:text-gray-400 dark:border-gray-600 dark:bg-gray-800">
                <div class="px-2.5 py-2 bg-gray-200 border-b border-gray-300 rounded-t-lg dark:border-gray-600 dark:bg-gray-700">
                    <h3 class="font-semibold text-gray-900 dark:text-white m-0 text-center">Choose Expertise</h3>
                </div>
                <div class="px-3 py-2 m-0">
                    <p>I want to choose my expertise in each topic</p>
                    <div class="flex items-center mt-2">
                        <input id="enable-combined-search" type="checkbox" [(ngModel)]="showSliders" class="mr-2 w-4 h-4 text-primary_tailwind bg-gray-300 rounded border-gray-300 focus:ring-primary_tailwind dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                        <label for="enable-combined-search">Enable expertise</label>
                    </div>
                </div>
                <div data-popper-arrow></div>
            </div>
            <!-- Popover Add Topic -->
            <div class="flex justify-center items-center mb-2.5">
                <button id="btn-add-topic" data-popover-target="popover-top3" type="button" class="mb-2.5 text-primary_tailwind border border-primary_tailwind hover:bg-primary_tailwind hover:text-white focus:ring-2 focus:outline-none focus:ring-primary_tailwind font-medium rounded-full text-sm p-2 ml-1 text-center inline-flex items-center" (click)="toggleAddTopicForm()" [ngClass]="{'active-ring':  showAddTopicForm}">
                    <svg fill="currentColor"  width="22px" height="22px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M2 7a1 1 0 0 1 1-1h18a1 1 0 1 1 0 2H3a1 1 0 0 1-1-1zm0 5a1 1 0 0 1 1-1h12a1 1 0 1 1 0 2H3a1 1 0 0 1-1-1zm1 4a1 1 0 1 0 0 2h9a1 1 0 1 0 0-2H3zm12 1a1 1 0 0 1 1-1h2v-2a1 1 0 1 1 2 0v2h2a1 1 0 1 1 0 2h-2v2a1 1 0 1 1-2 0v-2h-2a1 1 0 0 1-1-1z" /></svg>
                </button>
            </div> 
            <div data-popover id="popover-top3" role="tooltip" class="absolute z-10 invisible inline-block w-64 text-sm text-gray-500 transition-opacity duration-300 bg-white border border-gray-200 rounded-lg shadow-sm opacity-0 dark:text-gray-400 dark:border-gray-600 dark:bg-gray-800">
                <div class="px-2.5 py-2 bg-gray-200 border-b border-gray-300 rounded-t-lg dark:border-gray-600 dark:bg-gray-700">
                    <h3 class="font-semibold text-gray-900 dark:text-white m-0 text-center">Add new topic</h3>
                </div>
                <div class="px-3 py-2 m-0">
                    <p>I want to add a new topic</p>
                    <div class="flex items-center mt-2">
                      <input id="enable-add-topic" type="checkbox" [(ngModel)]="showAddTopicForm" class="mr-2 w-4 h-4 text-primary_tailwind bg-gray-300 rounded border-gray-300 focus:ring-primary_tailwind dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                      <label for="enable-add-topic">Enable add topic</label>
                    </div>
                </div>
                <div data-popper-arrow></div>
            </div>
        </div>
        <!-- LIST TOPICS -->
        <div class="flex justify-center items-center" >
            <!-- Se agrego css en movil-margin-cero para dejar en cero el margen en dispositivos moviles -->
            <div class="movil-margin-cero w-full mx-6 text-sm text-gray-900 bg-white border border-gray-200 dark:bg-gray-700 dark:border-gray-600 dark:text-white relative">
                <div *ngFor="let topic of recommendedTopics; let i = index" class="w-full text-sm text-gray-900 bg-white dark:bg-gray-700 dark:border-gray-600 dark:text-white relative">
                    <div class="flex items-center justify-between w-full px-4 py-3 text-left border-b border-gray-200 cursor-pointer hover:bg-gray-100 hover:text-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:border-gray-600 dark:hover:bg-gray-600 dark:hover:text-white dark:focus:ring-gray-500 dark:focus:text-white">
                      <span (click)="redirectToGoogleScholar(topic)" class=" relative w-8/12 cursor-pointer text-container">{{ i + 1 }}. {{ topic.topic_name }}</span>
                      <div class="relative w-1/4" *ngIf="showSliders">
                          <input [(ngModel)]="rangeValues[i]" type="range" class="w-full h-1 bg-gray-200 rounded-lg appearance-none cursor-pointer dark:bg-gray-700"
                               (mousedown)="showLabels(i)" (mouseup)="hideLabels(i); sendUserExpertise(i)" (input)="onSliderChange(i, $event)" 
                               [style.background]="getGradient(rangeValues[i])">
                        <span class="absolute -left-5 -top-3 text-xs text-primary_tailwind" [class.opacity-0]="!showLabel[i]" [class.opacity-100]="showLabel[i]">Junior</span>
                        <span class="absolute -right-5 -top-3 text-xs text-primary_tailwind" [class.opacity-0]="!showLabel[i]" [class.opacity-100]="showLabel[i]">Expert</span>
                      </div>
                      <div class="absolute inset-0 flex items-center justify-center" *ngIf="enableCombinedSearch" style="left: 68%; transform: translateX(-50%);">
                        <input type="checkbox" [(ngModel)]="combinedChecksState[i]" class="w-4 h-4 text-primary_tailwind bg-gray-300 rounded border-gray-300 focus:ring-primary_tailwind dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                      </div>
                    </div>
                  </div>
                  <div *ngIf="showAddTopicForm" class="w-full px-4 py-2 font-medium text-left rtl:text-right bg-gray-100 rounded-b-lg dark:bg-gray-600 dark:text-gray-400">
                    <form (ngSubmit)="addTopic()" class="max-w-sm mx-auto">
                      <label for="new-topic-input" class="block text-sm font-medium text-gray-600 dark:text-white">I want to add a new topic</label>
                      <div class="relative flex items-center">
                        <input [(ngModel)]="newTopic" name="newTopic" type="text" id="new-topic-input" aria-describedby="add a new topic that you would like to investigate" class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Ex: Sports prediction" required />
                        <button type="submit" class="absolute right-10 bg-primary_tailwind text-white font-medium rounded-lg text-sm px-1.5 py-1 m-1 flex items-center">
                          <svg fill="currentColor" width="18px" height="18px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="icon line-color">
                            <line x1="7" y1="12" x2="11" y2="12" style="fill: none; stroke: currentColor; stroke-linecap: round; stroke-linejoin: round; stroke-width: 2;"></line>
                            <path d="M5.44,4.15l14.65,7a1,1,0,0,1,0,1.8l-14.65,7A1,1,0,0,1,4.10,18.54l2.72-6.13a1.06,1.06,0,0,0,0-.82L4.10,5.46A1,1,0,0,1,5.44,4.15Z" style="fill: none; stroke: currentColor; stroke-linecap: round; stroke-linejoin: round; stroke-width: 2;"></path>
                          </svg>
                        </button>
                        <button type="button" (click)="removeLastUserAddedTopic" class="absolute right-2 bg-primary_tailwind text-text-red-500 font-medium rounded-lg text-sm px-1.5 py-1 m-1 flex items-center">
                          <svg width="18px" height="18px" viewBox="0 0 48 48" version="1" xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 48 48">
                            <path fill="#F87171" d="M24,6C14.1,6,6,14.1,6,24s8.1,18,18,18s18-8.1,18-18S33.9,6,24,6z M24,10c3.1,0,6,1.1,8.4,2.8L12.8,32.4 C11.1,30,10,27.1,10,24C10,16.3,16.3,10,24,10z M24,38c-3.1,0-6-1.1-8.4-2.8l19.6-19.6C36.9,18,38,20.9,38,24C38,31.7,31.7,38,24,38 z"/>
                          </svg>
                        </button>
                      </div>
                    </form>
                  </div>
                                                     
            </div>
        </div>  
    </div>
</div>

<!-- Error message -->
<div *ngIf="showError" id="error-message" class="flex items-center p-3.5 mb-4 mt-4 text-sm text-red-800 border border-red-300 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400 dark:border-red-800" role="alert">
  <svg class="flex-shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
    <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
  </svg>
  <span class="sr-only">Info</span>
  <div class="ms-3 text-sm font-medium">
    {{ errorMessage }}
  </div>
  <button type="button" class="ms-auto -mx-1.5 -my-1.5 bg-red-50 text-red-500 rounded-lg focus:ring-2 focus:ring-red-400 p-1.5 hover:bg-red-200 inline-flex items-center justify-center h-8 w-8 dark:bg-gray-800 dark:text-red-400 dark:hover:bg-gray-700" (click)="showError = false" aria-label="Close">
    <span class="sr-only">Close</span>
    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
    </svg>
  </button>
</div>