<!-- post.component.html -->
<app-post-input [user]="user" (postCreated)="createPost($event)"></app-post-input>
<app-post-list [posts]="posts" [user]="user" (deletePost)="deletePost($event)"></app-post-list>

<!-- Loading Indicator -->
<div *ngIf="isLoading" class="text-center mt-4">
    <p class="text-gray-600 animate-pulse">Loading...</p>
</div>

<!-- Success Message -->
<div *ngIf="success" class="text-center text-green-500 mt-4">
    <p>{{ success }}</p>
</div>

<!-- Error Message -->
<div *ngIf="error" class="text-center text-red-500 mt-4">
    <p>{{ error }}</p>
</div>

<!-- Motivational Messages -->
<div *ngIf="!isLoading && posts.length === 0" class="text-center mt-4">
    <div *ngIf="user?.isOwnProfile" class="text-gray-600">
        <p class="text-xl font-semibold">It looks a bit empty here!</p>
        <p class="text-md mt-2">Why not start by sharing your knowledge and experiences? Create your first post and
            connect with fellow students and academics. We can't wait to see what you have to share!</p>
    </div>
    <div *ngIf="!user?.isOwnProfile" class="text-gray-600">
        <p class="text-xl font-semibold">This profile has no posts yet!</p>
        <p class="text-md mt-2">Explore other profiles to find interesting academic content and engage with the
            community. There's a lot to discover!</p>
    </div>
</div>