<div class="bg-white">
  <div class="flex flex-col justify-center w-full">
    <div class="flex justify-center items-center border-t-2 border-gray p-2">
      <h1 class="font-bold">Scientific contribution in Ecuador</h1>
    </div>
    <div class=" flex justify-center my-3">
      <div class="w-4/5 flex gap-x-3 justify-center">
        <div>
          <p class="text-justify text-md">
            Ecuador, a country known for its rich biodiversity and cultural heritage, has been making significant
            strides
            in
            various research fields. Each of its provinces brings unique contributions, enhancing the nation's
            scientific
            and technological landscape.
          </p>
          <app-word-cloud class="hidden md:flex justify-center" (eventEmitter)="emitT($event)"></app-word-cloud>
        </div>
        <app-ecuador-map ></app-ecuador-map>
      </div>
    </div>
  </div>
</div>
