# Dependencies
node_modules
npm-debug.log

# IDE
.idea
.vscode

# Git
.git
.gitignore

# Angular
.angular
coverage
dist

# Environment
.env

# System Files
.DS_Store
Thumbs.db

# Documentation
README.md
CHANGELOG.md
LICENSE
*.md

# Test files
e2e
*.spec.ts
*.test.ts
