<div class="flex flex-col justify-center items-center mb-6 mt-8 w-full max-w-6xl mx-auto px-4">
  <div class="border-l-4 border-red-700 pl-4 mb-6 w-full text-left flex items-center h-10">
    <h1 class="text-3xl font-extrabold text-gray-900 leading-none m-0">Affiliation Search</h1>
  </div>
  <app-search-bar (entity)="onSearchEntity($event)" code="affiliation" ph="Enter an affiliation name" class="w-full"></app-search-bar>
</div>
<div class="w-full flex justify-center items-center py-10" *ngIf="!isCharged()">
  <app-dashboard-loader></app-dashboard-loader>
</div>
<div class="flex flex-col justify-center items-center p-3" *ngIf="affiliations.length>0">
  <div class="flex flex-col rounded-md border-2 mb-3 border-blue-900">
    <h2 class="bg-blue-900 text-white flex justify-center items-center">Affiliations with most articles in
      Ecuador</h2>
    <app-bar-chart [single]="affiliations" [width]="1400" [height]="500" [affiliation]="true"
                   (selectedAffiliation)="getId($event)"></app-bar-chart>
  </div>
  <div class="flex justify-center items-center">
    <div class="flex flex-col justify-center border-2 border-blue-900 rounded-2">
      <h3 class="bg-blue-900 text-white flex justify-center items-center py-1">More Statistics about:</h3>
      <div class="flex justify-center gap-x-5 px-5 pb-2 pt-3">
        <div class="flex items-center justify-center gap-x-8">
          <div class="flex flex-col items-center justify-center" (click)="navigateGeneral()">
            <div class="flex justify-center items-center" style="cursor: pointer;">
              <mat-icon style="font-size: 40px; width: 50px; height: 50px;">public</mat-icon>
            </div>
            <dd class="font-light">General</dd>
          </div>

          <div class="flex flex-col items-center justify-center" (click)="navigateTopic()">
            <div class="flex justify-center items-center" style="cursor: pointer;">
              <mat-icon style="font-size: 40px; width: 50px; height: 50px;">school</mat-icon>
            </div>
            <dd class="font-light">Knowledge Areas</dd>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

