<div>SIIII</div>
<!--<app-search-bar (entity)="getScopusId($event)"></app-search-bar>-->
<!--<div class="flex justify-center items-center p-3">-->
<!--  <app-bar-chart *ngIf="!charged" [single]="affiliations" [width]="1400" [height]="500"></app-bar-chart>-->
<!--  <div *ngIf="charged">-->
<!--    <h1>{{affiliation}}</h1>-->
<!--    <h3>Evolution of contribution over the years</h3>-->
<!--    <app-evolution-line-chart  [multi]="lineChartAffiliation" [width]="1000"-->
<!--                              [height]="400"></app-evolution-line-chart>-->
<!--    <h3>Most knowledge areas</h3>-->
<!--    <app-tree-map-chart  [single]="treeMapInfo" [width]="1000"-->
<!--                        [height]="400" ></app-tree-map-chart>-->
<!--  </div>-->
<!--</div>-->
