.hover-effect {
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.hover-effect:hover {
  cursor: pointer;
  transform: scale(1.03);
  box-shadow: 0 4px 6px -1px rgb(3, 105, 161, 0.5), 0 2px 4px -1px rgba(14, 165, 233, 0.06);
}

.border-gray{
  border: 1px solid rgb(148 163 184);
}
* {
  box-sizing: border-box; /* Aplica esto a todos los elementos */
}

.custom-bg {
  background-image: url('src/assets/img.png');
  background-size: 150% auto;
  background-position: top center;
  background-repeat: no-repeat;
}
