<div class="custom-bg">
  <app-search-box></app-search-box>
</div>
<mat-paginator
  [length]="100"
  [pageSize]="20"
  [pageSizeOptions]="[5, 10, 25, 100]"
  aria-label="Select page"
>
</mat-paginator>
<div class="flex justify-center items-start md:pt-3 md:pr-2">
  <div class="hidden sm:block md:w-1/5">
    <h1>Filtros</h1>
    <form class="max-w-sm mx-auto">
      <label
        for="countries"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
      >Select your country</label
      >
      <select
        id="countries"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      >
        <option>United States</option>
        <option>Canada</option>
        <option>France</option>
        <option>Germany</option>
      </select>
    </form>
  </div>
  <div class="grid grid-cols-1 w-3/5">
    <div
      *ngFor="let author of authors"
      class="items-center rounded-2xl border-2 justify-center m-2 hover-effect border-gray p-4"
    >
      <app-author-information [author]="author"></app-author-information>
    </div>
  </div>
</div>
