<!-- aboutme.component.html -->

<div *ngIf="isloggedIn; else loginPrompt" class="grid md:grid-cols-3 grid-cols-1 gap-3">
    <app-post class="md:col-span-2 col-span-1"></app-post>
    <app-information class="col-span-1"></app-information>
</div>

<ng-template #loginPrompt>
    <div class="container mx-auto max-w-screen-xl px-3items-center justify-center bg-gray-100 mb-2">
        <div class="text-center p-6 bg-white shadow-md rounded-md">
            <h2 class="text-2xl font-semibold mb-4">Hello!</h2>
            <p class="text-lg mb-4">To view the complete profile, please log in.</p>
            <p class="text-md text-gray-600">If you don't have an account, you can sign up on our site.</p>
            <div class="mt-6">
                <a href="/login"
                    class="inline-block px-6 py-2 bg-primary_tailwind text-white font-semibold rounded-md shadow hover:bg-blue-700">Log
                    In</a>
                <a href="/register"
                    class="inline-block px-6 py-2 ml-4 bg-gray-200 text-gray-700 font-semibold rounded-md shadow hover:bg-gray-300">Sign
                    Up</a>
            </div>
        </div>
    </div>
</ng-template>