<div class="flex flex-col items-start">
  <div class="flex flex-col justify-between w-full bg-white border-gray-300 rounded">
    <div class="p-4">
      <div><b>Nodos:</b> {{d3Nodes.length}}</div>
      <div><b>Relaciones:</b> {{d3Links.length}}</div>
    </div>
    <button type="button" class="bg-red-700 text-white mt-2 px-4 py-2 rounded self-start" (click)="onDownloadGraph()" *ngIf="d3Nodes.length > 0;">
      <fa-icon [icon]="faDownload"></fa-icon> Descargar
    </button>
  </div>

  <div class="border-2 border-gray-400 rounded-2xl w-full mt-4" *ngIf="showGraph"> <!-- Añadido margen top para separación -->
    <div class="w-full" #downloadEl>
      <graph [nodes]="d3Nodes" [links]="d3Links" [forces]="forces"></graph>
    </div>
  </div>
</div>

