<div class="flex justify-center gap-x-5">
  <div class="rounded max-w-72 mat-elevation-z8 h-fit" *ngIf="affiliations && affiliations.length > 0">
    <!-- Title -->
    <div class="text-center py-3 font-bold border-b-gray-400 border-b-2">
      FILTERS
    </div>

    <!-- Authors number -->
    <div class="py-2 px-3 subtitle border-b-gray-400 border-b-2">
      Number of authors
    </div>
    <div class="py-3 px-3 border-b-gray-400 border-b-2">
      <input id="authorsRange" type="range" class="form-range" min="10" max="200" step="10"
             [(ngModel)]="authorsNumber" (change)="onAuthorsNumberChange()">
      <label for="authorsRange" class="form-label">Authors: {{authorsNumber}}</label>
    </div>

    <!-- Affiliations -->
    <div class="py-2 px-3 subtitle border-b-gray-400 border-b-2">
      Affiliations
    </div>
    <div class="py-3 px-3 flex flex-col gap-3 max-h-96 overflow-scroll">
      <div class="flex gap-3" *ngFor="let aff of affiliations">
        <input [id]="aff.scopusId" type="checkbox" (click)="onClickCheckbox($event)">
        <label [for]="aff.scopusId">{{aff.name}}</label>
      </div>
    </div>
  </div>


  <div class="ml-4">
    <div class="flex flex-col justify-between w-full bg-white border-gray-300 rounded">
      <div *ngIf="!showGraph">
        <div *ngIf="!showGraph">
          <mat-spinner></mat-spinner>
        </div>
      </div>
      <ng-container *ngIf="showGraph">
        <div class="pt-2">
          <div><b>Nodes:</b> {{d3Nodes.length}}</div>
          <div><b>Relations:</b> {{d3Links.length}}</div>
        </div>
        <button type="button" class="bg-red-700 text-white mt-2 p-3 rounded self-start"
                (click)="onDownloadGraph()"
                *ngIf="d3Nodes.length > 0;">
          <fa-icon [icon]="faDownload"></fa-icon>
          Download
        </button>
      </ng-container>
    </div>
    <div class="w-auto mt-4 mat-elevation-z8" *ngIf="showGraph">
      <!-- Añadido margen top para separación -->
      <div class="w-full" #downloadEl>
        <graph [nodes]="d3Nodes" [links]="d3Links" [forces]="forces"></graph>
      </div>
    </div>
  </div>
</div>

