<ng-container *ngIf="d3Nodes && d3Links">
  <div class="flex pt-4 ">
    <!--#region Graph -->
    <div class="border-2 border-gray-400 rounded-2xl" *ngIf="showGraph">
      <div class="w-[1100px]" #downloadEl>
        <graph [nodes]="d3Nodes" [links]="d3Links" [forces]="forces"></graph>
      </div>
    </div>
    <div *ngIf="d3Nodes.length > 0;" class="w-3/4 pl-2">
      <div class="flex flex-col gap-y-3">
        <div><b>Nodos:</b> {{d3Nodes.length}}</div>
        <div><b>Relaciones:</b> {{d3Links.length}}</div>
        <button type="button" class="bg-red-700 text-white" (click)="onDownloadGraph()">
          <fa-icon [icon]="faDownload"></fa-icon>
          Descargar
        </button>
      </div>
    </div>
  </div>
</ng-container>
