<div class="w-full mb-4 rounded-xl border px-4 pt-3 pb-2 shadow-md bg-white">
    <div class="text-xl mb-3 mt-1 font-bold text-gray-800">To finish</div>
    <div class="survey-container mx-auto p-2">
        <p class="text-sm text-gray-900 ">How satisfied are you with the consensus results?</p>
        <div class="emoji-ratings flex justify-center gap-2 my-4">
            <button class="text-3xl emoji-button focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" aria-label="Unsatisfied">
                😠
            </button>
            <button class="text-3xl emoji-button focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" aria-label="Slightly Unsatisfied">
                😦
            </button>
            <button class="text-3xl emoji-button focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" aria-label="Neutral">
                😐
            </button>
            <button class="text-3xl emoji-button focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" aria-label="Satisfied">
                🙂
            </button>
            <button class="text-3xl emoji-button emoji-selected focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" aria-label="Very Satisfied">
                😄
            </button>
        </div>
        <div class="button-group flex justify-end">
            <button type="button" class="px-2 py-1 text-sm font-medium text-center text-white bg-primary_tailwind rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Accept</button>
        </div>
    </div>
</div>
