<!-- profile-data.component.html -->
<div *ngIf="user" class="mx-auto max-w-screen-xl p-4 lg:p-8 flex justify-center md:justify-start relative">
    <div class="mx-auto max-w-screen-xl flex flex-col md:flex-row items-center gap-x-4 gap-y-2 flex-grow">
        <div class="flex justify-center md:justify-start md:w-1/4">
            <img class="w-32 sm:w-40 rounded border-4 border-gray-200 shadow-xl"
                [src]="user.profile_picture || './assets/profile.png'" alt="Profile Picture">
        </div>
        <div
            class="w-full h-full md:items-center md:w-full flex flex-col sm:flex-row flex-wrap justify-center md:justify-start gap-x-4 gap-y-1 md:border-r border-gray-300">
            <div class="w-full">
                <div class="text-left">
                    <strong class="block text-xl sm:text-2xl font-bold mb-2">{{ user.first_name }} {{ user.last_name
                        }}</strong>
                </div>
                <div class="grid grid-cols-1 sm:grid-cols-2 gap-x-4 gap-y-1 mt-4">
                    <ng-container *ngIf="user.institution">
                        <strong class="block text-md sm:text-lg font-bold mb-1">Institution</strong>
                        <p>{{ user.institution }}</p>
                    </ng-container>
                    <ng-container *ngIf="user.website">
                        <strong class="block text-md sm:text-lg font-bold mb-1">Website</strong>
                        <p>{{ user.website }}</p>
                    </ng-container>
                    <ng-container *ngIf="user.investigation_camp">
                        <strong class="block text-md sm:text-lg font-bold mb-1">Investigation Field</strong>
                        <p>{{ user.investigation_camp }}</p>
                    </ng-container>
                    <ng-container *ngIf="user.email_institution">
                        <strong class="block text-md sm:text-lg font-bold mb-1">Institutional Email</strong>
                        <p>{{ user.email_institution }}</p>
                    </ng-container>
                </div>
                <div *ngIf="shouldShowLoggedInMessage" class="px-4 text-justify">
                    <p class="text-gray-600">
                        Welcome {{ user.first_name }}! It's great to see you here. By completing your profile, you can
                        better showcase your professional journey and achievements.
                    </p>
                    <p class="text-gray-600 mt-2">
                        Adding details such as your institution, website, and research interests can help others in your
                        field find and connect with you more easily (click on "Edit Profile").
                    </p>
                    <p class="text-gray-600 mt-2">
                        Remember, every bit of information you add makes your profile richer and more impactful. Take a
                        few moments to fill in these details and let your professional persona shine!
                    </p>
                </div>
                <div *ngIf="shouldShowLoggedOutMessage" class="px-4 text-justify">
                    <p class="text-gray-600">
                        Welcome to {{ user.first_name }} {{ user.last_name }}'s profile! Currently, this profile doesn't
                        have detailed information filled out yet.
                    </p>
                    <p class="text-gray-600 mt-2">
                        Encourage {{ user.first_name }} to complete their profile to better showcase their professional
                        journey and achievements.
                    </p>
                    <p class="text-gray-600 mt-2">
                        Detailed profiles help in making professional connections and collaborations more effective. If
                        you know {{ user.first_name }}, feel free to suggest them to add more details here.
                    </p>
                </div>
            </div>
        </div>
        <div *ngIf="user.scopus_id; else noScopusId"
            class="w-full md:w-2/5 flex flex-col justify-center items-center gap-x-4 gap-y-1">
            <div class="w-full px-3">
                <div>
                    <strong class="block text-md sm:text-lg font-bold mb-1">Citations</strong>
                    <p>{{ user.citations }}</p>
                    <strong class="block text-md sm:text-lg font-bold mt-4 mb-1">SCOPUS ID</strong>
                    <p>{{ user.scopus_id }}</p>
                    <strong class="block text-md sm:text-lg font-bold mt-4 mb-1">Documents</strong>
                    <p>{{ user.documents }}</p>
                </div>
            </div>
        </div>
        <ng-template #noScopusId>
            <div class="w-full md:w-2/5 flex flex-col justify-center items-center gap-x-4 gap-y-1">
                <div class="w-full px-3 text-center">
                    <strong class="block text-sm font-bold mb-1 text-green-500">Keep Going!!</strong>
                    <p class="text-xs text-gray-500 text-justify">
                        You don't have a Scopus ID yet, but every step you take in your research brings you closer to
                        achieving it. Keep up the great work!
                    </p>
                </div>
            </div>
        </ng-template>
    </div>
    <button *ngIf="isOwnProfile"
        class="absolute top-4 right-8 flex items-center px-2 py-1 bg-transparent text-gray-600 border border-gray-300 rounded hover:bg-gray-100 hover:text-gray-800 focus:outline-none"
        (click)="toggleForm()">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-1" viewBox="0 0 20 20" fill="currentColor">
            <path
                d="M17.414 2.586a2 2 0 00-2.828 0l-1.828 1.828 2.828 2.828 1.828-1.828a2 2 0 000-2.828zm-4.95 4.95l-9.9 9.9V18h1.414l9.9-9.9-1.414-1.414z" />
        </svg>
        Edit Profile
    </button>
    <div *ngIf="showForm" class="fixed inset-0 flex items-center justify-center bg-gray-500 bg-opacity-75">
        <div class="relative bg-white p-4 rounded shadow-lg">
            <button (click)="toggleForm()" class="absolute top-1 right-1 text-gray-600 hover:text-gray-900"
                title="Edit Profile">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                </svg>
            </button>
            <app-data-form [user]="user" (formSubmitted)="toggleForm()"></app-data-form>
        </div>
    </div>
</div>