<!-- profile-data.component.html -->
<div *ngIf="user" class="mx-auto max-w-screen-xl p-4 lg:p-8 flex justify-center md:justify-start relative">
    <div class="mx-auto max-w-screen-xl flex flex-col md:flex-row items-center gap-x-4 gap-y-2 flex-grow">
        <div class="flex justify-center md:justify-start md:w-1/4">
            <img class="w-32 sm:w-40 rounded border-4 border-gray-200 shadow-xl"
                [src]="user.profile_picture || './assets/profile.png'" alt="Profile Picture">
        </div>
        <div
            class="w-full h-full md:items-center md:w-full flex flex-col sm:flex-row flex-wrap justify-center md:justify-start gap-x-4 gap-y-1 md:border-r border-gray-300">
            <div class="w-full">
                <div class="px-4 text-left">
                    <strong class="block text-xl sm:text-2xl font-bold mb-2">{{ user.first_name }} {{ user.last_name
                        }}</strong>
                </div>
                <div class="px-4 grid grid-cols-1 sm:grid-cols-2 gap-6 mt-6">
                    <ng-container *ngIf="user.institution">
                        <div>
                            <strong
                                class="block text-lg sm:text-xl font-semibold mb-2 text-gray-700">Institution</strong>
                            <p class="text-base sm:text-lg text-gray-900">{{ user.institution }}</p>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="user.website">
                        <div>
                            <strong class="block text-lg sm:text-xl font-semibold mb-2 text-gray-700">Website</strong>
                            <p class="text-base sm:text-lg text-gray-900"><a href="{{ user.website }}"
                                    class="text-blue-500 hover:underline">{{ user.website }}</a></p>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="user.investigation_camp">
                        <div>
                            <strong class="block text-lg sm:text-xl font-semibold mb-2 text-gray-700">Investigation
                                Field</strong>
                            <p class="text-base sm:text-lg text-gray-900">{{ user.investigation_camp }}</p>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="user.email_institution">
                        <div>
                            <strong class="block text-lg sm:text-xl font-semibold mb-2 text-gray-700">Institutional
                                Email</strong>
                            <p class="text-base sm:text-lg text-gray-900">{{ user.email_institution }}</p>
                        </div>
                    </ng-container>
                </div>
                <div *ngIf="shouldShowLoggedInMessage" class="px-4 text-justify">
                    <p class="text-gray-600">
                        Welcome {{ user.first_name }}! It's great to see you here. By completing your profile, you can
                        better showcase your professional journey and achievements.
                    </p>
                    <p class="text-gray-600 mt-2">
                        Adding details such as your institution, website, and research interests can help others in your
                        field find and connect with you more easily (click on "Edit Profile").
                    </p>
                    <p class="text-gray-600 mt-2">
                        Remember, every bit of information you add makes your profile richer and more impactful. Take a
                        few moments to fill in these details and let your professional persona shine!
                    </p>
                </div>
                <div *ngIf="shouldShowLoggedOutMessage" class="px-4 text-justify">
                    <p class="text-gray-600">
                        Welcome to {{ user.first_name }} {{ user.last_name }}'s profile! Currently, this profile doesn't
                        have detailed information filled out yet.
                    </p>
                    <p class="text-gray-600 mt-2">
                        Encourage {{ user.first_name }} to complete their profile to better showcase their professional
                        journey and achievements.
                    </p>
                    <p class="text-gray-600 mt-2">
                        Detailed profiles help in making professional connections and collaborations more effective. If
                        you know {{ user.first_name }}, feel free to suggest them to add more details here.
                    </p>
                </div>
            </div>
        </div>
        <div *ngIf="user.scopus_id; else noScopusId"
            class="w-full md:w-2/5 flex flex-col justify-center items-center gap-x-4 gap-y-1">
            <div class="w-full px-3">
                <div>
                    <strong class="block text-md sm:text-lg font-bold mb-1">Citations</strong>
                    <p>{{ user.citations }}</p>
                    <strong class="block text-md sm:text-lg font-bold mt-4 mb-1">SCOPUS ID</strong>
                    <p>{{ user.scopus_id }}</p>
                    <strong class="block text-md sm:text-lg font-bold mt-4 mb-1">Documents</strong>
                    <p>{{ user.documents }}</p>
                </div>
            </div>
        </div>
        <ng-template #noScopusId>
            <div class="w-full md:w-2/5 flex flex-col justify-center items-center gap-x-4 gap-y-1">
                <div class="w-full px-3 text-center">
                    <strong class="block text-sm font-bold mb-1 text-green-500">Keep Going!</strong>
                    <p class="text-xs text-gray-500 text-justify">
                        You don't have a Scopus ID listed yet, but every step you take in your research brings you
                        closer to achieving it.
                        If you have a Scopus ID, please update your profile and add it to enhance your academic
                        visibility.
                        Keep up the great work!
                    </p>
                </div>
            </div>
        </ng-template>
    </div>
    <button *ngIf="isOwnProfile"
        class="absolute top-4 right-8 flex items-center px-2 py-1 bg-transparent text-gray-600 border border-gray-300 rounded hover:bg-gray-100 hover:text-gray-800 focus:outline-none"
        (click)="toggleForm()">
        <img src="assets/pencil-solid.svg" alt="Edit" class="w-4 h-4 mr-1" />
        Edit Profile
    </button>
    <div *ngIf="showForm" class="fixed inset-0 z-50 flex items-center justify-center bg-gray-500 bg-opacity-75">
        <app-data-form [user]="user" (formSubmitted)="toggleForm()" (formClosed)="toggleForm()"></app-data-form>
    </div>
</div>