.hover-effect {
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.hover-effect:hover {
  cursor: pointer;
  transform: scale(1.03);
  box-shadow: 0 4px 6px -1px rgb(3, 105, 161, 0.5), 0 2px 4px -1px rgba(14, 165, 233, 0.06);
}

.border-gray{
  border: 1px solid rgb(148 163 184);
}
* {
  box-sizing: border-box; /* Aplica esto a todos los elementos */
}
/* Structure */
.container {
  position: relative;
  min-height: 30vh;
}

.table-container {
  position: relative;
  overflow: auto;
}

.table {
  width: 100%;
}

.loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}



/* Column Widths */
.mat-column-number,
.mat-column-state {
  width: 64px;
}

.mat-column-created {
  width: 124px;
}
.row-is-clicked {
  font-weight: bold;
}

.filters {
  border: 1px solid #000000;
  background-color: #ffffff;
}
