<ng-container *ngFor="let item of items">
<div class="flex flex-wrap border-b-2 gap-x-3  hover-effect border-gray p-2 m-4" >
    <div>
      <h1 class="hidden md:block">{{ item.title }}</h1>
      <h2 class="flex md:hidden items-center">{{ item.title }}</h2>
      <div>Authors:</div>
      <ng-container *ngFor="let au of item.authors">
        <span class="p-2">{{ au.name }}</span>
      </ng-container>
      <div class="grid grid-cols-1 md:grid-cols-2 pt-2">
        <div class="flex flex-col justify-center">
          <span>Affiliation:</span>
          <h3>{{ item.affiliation }}</h3>
        </div>
        <div>
          <span>Publication Date:</span>
          <h3>{{ item.publicationDate }}</h3>
        </div>
      </div>
    </div>
    <div class="flex flex-col flex-grow justify-center items-center">
      <h1>{{ item.citationCount }}</h1>
      <span>Citations</span>
    </div>
</div>

</ng-container>
