<!-- Post Input -->
<div *ngIf="!showForm && user?.isOwnProfile"
    class="post-input flex mx-auto items-center text-gray-800 border-gray-300 mb-3 rounded-xl border p-4 shadow-md bg-white transition-transform">
    <img [src]="user?.profile_picture" alt="Profile Picture" class="w-12 h-12 rounded-full mr-3">
    <div (click)="showForm = true"
        class="flex-1 p-2 border rounded-full cursor-pointer text-gray-500 bg-gray-100 hover:bg-gray-200 transition duration-300 ease-in-out text-sm font-light flex items-center">
        What's on your mind?
    </div>
</div>

<!-- Post Editor -->
<div class="editor flex mx-auto flex-col text-gray-800 border-gray-300 mb-3 rounded-xl border p-4 shadow-md bg-white"
    *ngIf="showForm && user?.isOwnProfile">
    <div class="post-header flex items-center mb-4">
        <img [src]="user?.profile_picture" alt="Profile Picture" class="w-12 h-12 rounded-full mr-3">
        <div>
            <div class="text-base font-semibold">{{ user?.first_name }} {{ user?.last_name }}</div>
        </div>
    </div>
    <label for="post-description" class="sr-only">What's on your mind?</label>
    <textarea id="post-description" [(ngModel)]="newPost.description"
        class="description bg-gray-100 p-3 h-24 border border-gray-300 focus:border-primary_tailwind focus:ring-2 focus:ring-primary_tailwind focus:outline-none rounded-md mb-3"
        spellcheck="false" placeholder="What's on your mind?"></textarea>

    <div class="icons flex text-gray-500 my-2 space-x-2">
        <label for="image-upload" class="cursor-pointer hover:text-gray-700" title="Upload Image">
            <i
                class="fas fa-image p-2 bg-gray-100 rounded-full transition-colors duration-200 ease-in-out hover:bg-gray-200"></i>
            <span class="sr-only">Upload Image</span>
        </label>
        <input id="image-upload" type="file" accept="image/*" multiple (change)="onFileSelected($event)" class="hidden"
            aria-label="Upload Image">

        <label for="video-upload" class="cursor-pointer hover:text-gray-700" title="Upload Video">
            <i
                class="fas fa-video p-2 bg-gray-100 rounded-full transition-colors duration-200 ease-in-out hover:bg-gray-200"></i>
            <span class="sr-only">Upload Video</span>
        </label>
        <input id="video-upload" type="file" accept="video/*" multiple (change)="onFileSelected($event)" class="hidden"
            aria-label="Upload Video">

        <label for="file-upload" class="cursor-pointer hover:text-gray-700" title="Upload File">
            <i
                class="fas fa-file p-2 bg-gray-100 rounded-full transition-colors duration-200 ease-in-out hover:bg-gray-200"></i>
            <span class="sr-only">Upload File</span>
        </label>
        <input id="file-upload" type="file" multiple (change)="onFileSelected($event)" class="hidden"
            aria-label="Upload File">
    </div>

    <!-- Preview selected files -->
    <div *ngIf="filePreviews.length > 0"
        class="file-previews mb-3 flex space-x-4 overflow-x-auto bg-gray-100 border border-gray-300 p-2 rounded-md">
        <div *ngFor="let preview of filePreviews; let i = index"
            class="file-preview relative flex-shrink-0 w-24 h-24 overflow-hidden border border-gray-300 rounded-md">
            <button (click)="removeFile(i)" title="Remove file"
                class="absolute top-1 right-1 bg-red-600 text-white w-5 h-5 rounded-full flex items-center justify-center p-0 focus:outline-none">
                <i class="fas fa-times"></i>
            </button>
            <img *ngIf="preview.type === 'image'" [src]="preview.url" class="w-full h-full object-cover rounded-md"
                alt="Image Preview">
            <div *ngIf="preview.type === 'video'"
                class="flex items-center justify-center w-full h-full bg-gray-100 border border-gray-300 rounded-md">
                <i class="fas fa-video text-gray-500 text-2xl mr-2"></i>
                <span class="text-sm text-gray-600 truncate" title="{{ preview.name }}">{{ preview.name }}</span>
            </div>
            <div *ngIf="preview.type !== 'image' && preview.type !== 'video'"
                class="flex items-center justify-center w-full h-full bg-gray-100 border border-gray-300 rounded-md">
                <i class="fas fa-file-alt text-gray-500 text-2xl mr-2"></i>
                <span class="text-sm text-gray-600 truncate" title="{{ preview.name }}">{{ preview.name }}</span>
            </div>
        </div>
    </div>

    <div class="buttons flex justify-end space-x-2">
        <button (click)="cancelPost()" title="Cancel"
            class="btn border border-gray-300 p-2 px-4 font-semibold cursor-pointer text-gray-500 hover:bg-gray-100 rounded-md transition duration-300 ease-in-out"
            aria-label="Cancel">
            Cancel
        </button>
        <button (click)="addPost()" title="Post"
            class="btn border border-primary_tailwind p-2 px-4 font-semibold cursor-pointer text-white bg-primary_tailwind hover:bg-blue-600 rounded-md transition duration-300 ease-in-out"
            aria-label="Post">
            Post
        </button>
    </div>
</div>