.search-container {
  height: 60px;
}

.form-control {
  width: 450px;
  border-radius: 0;
}

.btn-select {
  background-color: var(--red);
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;
}

.btn-option {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.dropdown-menu button:focus {
  background-color: var(-primary_tailwind);
}

.btn-search {
  background-color: var(-primary_tailwind);
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;
}

/* XS */
@media (max-width: 567px) and (min-width: 0px) {
  .form-control {
    width: 100%;
  }
}

/* S */
@media (max-width: 767px) and (min-width: 568px) {
  .form-control {
    width: 300px;
  }
}
