<section class="bg-primary_tailwind bg-opacity-55">
  <div class="max-w-screen-xl px-4 py-3 mx-auto text-center lg:px-6">
    <dl class="grid max-w-screen-md gap-8 mx-auto text-white sm:grid-cols-3 dark:text-white">
      <div class="flex justify-center">
        <div class="flex flex-col items-center justify-center">
          <div class="flex justify-center">
            <mat-icon style="font-size: 40px; width: 50px; height: 50px;">person</mat-icon>
            <dt class="mb-2 text-3xl md:text-4xl pr-5">
              <span [countUp]="authorsCount"></span>
            </dt>
          </div>
          <dd class="font-light ">Authors</dd>
        </div>
      </div>
      <div class="flex flex-col items-center justify-center">
        <div class="flex justify-center">
          <mat-icon style="font-size: 40px; width: 50px; height: 50px;">article</mat-icon>
          <dt class="mb-2 text-3xl md:text-4xl  pr-5">
            <span [countUp]="articlesCount"></span>
          </dt>
        </div>
        <dd class="font-light">Articles</dd>
      </div>
      <div class="flex flex-col items-center justify-center">
        <div class="flex justify-center">
          <mat-icon style="font-size: 40px; width: 50px; height: 50px;">school</mat-icon>
          <dt class="mb-2 text-3xl md:text-4xl pr-5">
            <span [countUp]="topicsCount"></span>
          </dt>
        </div>
        <dd class="font-light">Knowledge Areas</dd>
      </div>
    </dl>
  </div>
</section>


<!--<section class="bg-primary_tailwind w-full bg-opacity-55">-->
<!--  <div class="max-h-[100px] flex justify-center">-->
<!--    <app-card-summary></app-card-summary>-->
<!--  </div>-->
<!--</section>-->
<div class="bg-white">
  <div class="flex flex-col  justify-center items-center py-2">
    <div class="w-4/5">
      <h1>Welcome to Centinela</h1>
      <p class="text-justify">
        Centinela is a tool designed specifically to provide detailed academic information about Ecuadorian researchers,
        and offers
        users three types of searches to access this information. Its main objective is to streamline and facilitate the
        understanding of the findings and results of relevant scientific research, allowing researchers to explore the
        relationships and occurrences between keywords used in these studies.
      </p>
    </div>
  </div>
</div>

