
<section class="bg-blue-800">
  <div class="max-w-screen-xl px-4 py-4 mx-auto text-center lg:py-16 lg:px-6">
    <dl class="grid max-w-screen-md gap-8 mx-auto text-white sm:grid-cols-3 dark:text-white">
      <div class="flex justify-center">
        <div class="flex flex-col items-center justify-center">
          <div class="flex justify-center">
            <mat-icon style="font-size: 40px; width: 50px; height: 50px;">person</mat-icon>
            <dt class="mb-2 text-3xl md:text-4xl font-extrabold pr-5">{{authorsCount|number}}</dt>
          </div>

          <dd class="font-light ">Authors</dd>
        </div>
      </div>
      <div class="flex flex-col items-center justify-center">
        <div class="flex justify-center">
          <mat-icon style="font-size: 40px; width: 50px; height: 50px;">apartment</mat-icon>
          <dt class="mb-2 text-3xl md:text-4xl font-extrabold pr-5">{{articlesCount|number}}</dt>
        </div>
        <dd class="font-light">Articles</dd>
      </div>
      <div class="flex flex-col items-center justify-center">
        <div class="flex justify-center">
          <mat-icon style="font-size: 40px; width: 50px; height: 50px;">school</mat-icon>
          <dt class="mb-2 text-3xl md:text-4xl font-extrabold pr-5">{{topicsCount|number}}</dt>
        </div>
        <dd class="font-light">Knowledge Areas</dd>
      </div>
    </dl>
  </div>
</section>
<div class="h-40">
  <h1>Welcome to Centinela</h1>
  <p>
    En un esfuerzo por sinergizar la investigación interdisciplinaria dentro de la universidad, la Universidad Politécnica Salesiana se compromete a utilizar herramientas de investigación innovadoras y tecnologías de la información para desarrollar oportunidades que aceleren el ecosistema de investigación a través de diferentes estrategias como la colaboración entre parejas poco probables o redes institucionales, la búsqueda oportunidades de financiación para proyectos de investigación y mejorar la visibilidad de la investigación en la UPS.
  </p>
</div>
<!--<div class="bgprimary_tailwind flex items-center justify-center w-full text-3xl gap-x-10 p-4 shadow-lg">-->
<!--  <div class="flex flex-col items-center justify-center text-center space-y-2">-->
<!--    <h1 class="font-extrabold text-4xl text-blue-400">{{authorsCount | number}}</h1>-->
<!--    <h3 class="text-lg text-white">Authors</h3>-->
<!--  </div>-->
<!--  <div class="flex flex-col items-center justify-center text-center space-y-2">-->
<!--    <h1 class="font-extrabold text-4xl text-blue-400">{{articlesCount | number}}</h1>-->
<!--    <div>-->
<!--    <h3 class="text-lg text-white">Articles</h3>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="flex flex-col items-center justify-center text-center space-y-2">-->
<!--    <h1 class="font-extrabold text-4xl text-blue-400">{{topicsCount | number}}</h1>-->
<!--    <h3 class="text-lg text-white">Knowledge Area</h3>-->
<!--  </div>-->
<!--</div>-->
