/* Estilo general para hover en enlaces no activos */
a:hover {
    color:#1E3C8B; /* Esto aplicará solo si el enlace no tiene la clase .active */
}

/* Estilos para enlaces activos */
.active {
    background-color: #1E3C8B;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 6px;
    padding-bottom: 6px;
    color: #fff;
    border-radius: 12px;
}

/* Asegurarse de que hover no cambie el color en enlaces activos */
.active:hover {
    color: #fff; /* Mantén el color blanco incluso en hover */
}

.active svg {
    fill: #fff; /* El SVG también se mantiene blanco */
}
