<ol class="flex flex-wrap items-center justify-start w-full p-3 space-x-2 sm:space-x-4 text-sm font-medium bg-white border border-gray-200 rounded-lg shadow-sm sm:text-base dark:bg-gray-800 dark:border-gray-700">
    <li class="flex items-center">
        <a routerLink="./recommend-topics" routerLinkActive="active" ariaCurrentWhenActive="page" class="flex items-center no-underline text-gray-500 dark:text-gray-400 hover:text-gray-600">
            <span class="flex items-center justify-center w-5 h-5 me-2 text-xs border border-gray-500 rounded-full shrink-0 dark:border-gray-400">
                1
            </span>
            <span class="hidden sm:inline-flex flex-col sm:flex-row items-center">
                Recomended <span class="hidden sm:inline-flex sm:ms-2">Topics</span>
            </span>
            <svg class="w-3 h-3 ms-2 sm:ms-4 rtl:rotate-180" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 12 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m7 9 4-4-4-4M1 9l4-4-4-4"/>
            </svg>
        </a>
    </li>
    <li class="flex items-center">
        <a routerLink="./valuation" routerLinkActive="active" ariaCurrentWhenActive="page" class="flex items-center no-underline text-gray-500 dark:text-gray-400 hover:text-gray-600">
            <span class="flex items-center justify-center w-5 h-5 me-2 text-xs border border-gray-500 rounded-full shrink-0 dark:border-gray-400">
                2
            </span>
            <span class="hidden sm:inline-flex flex-col sm:flex-row items-center">
                Account <span class="hidden sm:inline-flex sm:ms-2">Info</span>
            </span>
            <svg class="w-3 h-3 ms-2 sm:ms-4 rtl:rotate-180" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 12 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m7 9 4-4-4-4M1 9l4-4-4-4"/>
            </svg>
        </a>
    </li>
    <li class="flex items-center">
        <a routerLink="./decision" routerLinkActive="active" ariaCurrentWhenActive="page" class="flex items-center no-underline text-gray-500 dark:text-gray-400 hover:text-gray-600">
            <span class="flex items-center justify-center w-5 h-5 me-2 text-xs border border-gray-500 rounded-full shrink-0 dark:border-gray-400">
                3
            </span>
            <span class="hidden sm:inline-flex">
                Review
            </span>
        </a>
    </li>
</ol>
