/* You can add global styles to this file, and also import other style files */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import 'flowbite';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';


.auth_bg {
    background-color: black;
    background-image: url('/assets/background.jpg');
    background-size: cover;
    background-position: center;
}

html,
body {
    height: 100%;
}

* {
    margin: 0;
    font-family: Arial,Roboto,Helvetica,sans-serif;
}

html {
    overflow-y: scroll;
    /* Add the ability to scroll */
}

